<!DOCTYPE html>
<html lang="en"> 
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/media/css/styles.css"> 
    <meta charset="UTF-8"> 
    <title>Product Review - Contact</title> 
</head> 
<body> 
    <div class="container-fluid bg-warning pl-0">
        <h1 class="d-block w-75 bg-dark text-white my-3 py-1 pr-5 pl-1" style="font-size: 1.6em; border-radius: 0 10vw 0 0; min-width: 400px;">
            How you can reach us.
        </h1>
    </div>
</body> 
</html> 